configuration{
    display-drun: " Apps";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}

@theme "catppuccin-frappe"
